/* 
    General Styles
*/
body{
    background-color: black;
    height: 100%;
    color: #ddd;
}
.navbarDiv{
    width: 100%;
    background-color: black !important;
}
.navbar{
    background-color: black !important;
    color: white !important;
    display: flex;
    width: 100%;
    margin: auto;
    z-index: 10000;
    position: fixed;
    padding-left: 3.5%;
    top: 0px;
}
#local-nav-logo-mobile{
    height: 30px; 
}
.navbar button{
    align-self: flex-end;
    padding-right: 0px;
}
.dropdown-item:hover{
    text-shadow: none;
}
.dropdown{
    margin-right: 7.5%;
    margin-top: .5%;
}
#navbar-image{
    width: 30%;
}
.dropdown-item{
    font-size: 1rem;
    padding-left: 0px;
}
.fav-container{
    display: flex;
    width: 100%;
}
.dropdown-item .col-2{
    display: none;
    visibility: hidden;
}
.fav-container:hover .col-2{
    display: block;
    visibility: visible;
    align-self: center;
    background-color: red;
    padding-left: 4%;
    transition: -l ease ;
}
.favLink{
    width: 90%;
}
/*Title below bar*/
.titleDiv{
    position: relative;
    width: 93%;
    margin: auto;
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
    padding-bottom: 1%;
}
.typeTitle{
    width: 70%;
    margin-bottom: 0px;
}
.hrTitle::before{
    content: "";
    position: absolute;
    background-color: #5a5c5d;
    height: 2px;
    width: 4px;
    bottom: 0px;
    left: 0px;
    border-radius: 2px;
}
.hrTitle::after{
    content: "";
    position: absolute;
    background-color: #48494a;
    height: 2px;
    width: 4px;
    bottom: 0px;
    left: 0px;
    border-radius: 2px;
    left: 8px;
    width: calc(100% - 8px);
}
.activePage .page-link{
    background-color: rgb(114, 114, 114) !important;
    border-color: white;
}
.pagination {
    width: 100%;
    margin-bottom: 0px !important;
    float:right !important;
}
.page-link{
    color: white !important;
}


/*Character container*/
.charLib{
    margin-top: 10vh;
}
.page-link{
    background-color: #201c24 !important;
    border: 1px solid #616161;
}
.disbledLink{
    pointer-events: none;
    border: 1px solid #2c2c2c;
    color: #2c2c2c !important;
    background-color: #000000 !important;
}
.character-container{
    display: flex;
    width: 93%;
    margin: auto;
    margin-top: 3% !important;
    overflow-x:scroll !important;
    scrollbar-base-color: black;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #201c24 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #201c24;
    border-radius: 14px;
    border: 1px solid #616161;
  }
#cardLink{
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
}
.character{
    background-color: rgb(32, 28, 36);
}
.card-text{
    color: rgb(181, 181, 181)!important ;
}
.card{
    position: relative;
    padding-bottom: 3.5%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 3vh;
    min-width: 200px !important;
    max-width: 10%!important;
    margin-bottom: 2%;
}
.bottom{
    background-color: black;
    -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    align-self: center;
    width: 75%;
    height: 3vh;
    position: absolute;
    bottom: -1px;
}
.card-decal{
    position: relative;
    padding-bottom: 16px;
    display: block;
    top: 4%;
    left: 5%;
}
.card:hover .card-decal:before,
.card:hover .card-decal:after{
    box-shadow: 0px 0px 4px 1px #c6ecfa;
    color: white;
    background: rgb(255, 255, 255) ;
}

.card-decal::before{
    width: 4px;
    left: 30px;
    content: "";
    position: absolute;
    background-color: #5a5c5d;
    height: 4px;
    border-radius: 4px;
    z-index: 2;
}
.card-decal::after{
    content: "";
    position: absolute;
    background-color: #5a5c5d;
    height: 4px;
    width: 24px;
    border-radius: 4px;
    left: 2px;
    z-index: 2;
}
.card-title{
    margin-bottom: 50%;
}
.favorite{
    position: relative;
    z-index: 4;
    color: #303132ba;
    width: 10%;
    left: 80%;
}
.fa-solid,
.favorite:hover{
    opacity: 100% !important;
    color: white;
    text-shadow: 0px 0px 8px #c6ecfa;
}

/*Footer section*/
.footer{
    width: 100%;
    color: #ddd;
    background-color: black;
    align-items: center;
    justify-content: center;
}
#footerUl{
    list-style-type: none;
    padding: 0px;
}
#footerUl > li {
    font-size: 2.5vh;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
#footerUl > li:hover{
    opacity: 100% !important;
    color: white;
    text-shadow: 0px 0px 8px #c6ecfa;
}

/*Character detail*/
#charContainer{
    display: flex;
    width: 70%;
    margin-top: 10vh;
    margin-left: 15%;
    position: relative;
}
#characterDetailImg{
    width: 40%;
    object-fit:fill;
}
.charInfo{
    background-color:  rgb(32, 28, 36);
    width: 70%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 3%;
    word-wrap:break-word;
}
#charDetailLi{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0px;
    overflow-y : auto;
    height: 79.8% !important;
}
.fa-galactic-senate{
    color: white !important;
}
#charDetailLi li{
    color: rgb(177, 177, 177);
    font-size: 1.8vw;
}